[Unit]
Description=scModels Gunicorn
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/var/www/scmodels
ExecStart=/var/www/scmodels/venv/bin/gunicorn --workers 2 --bind 127.0.0.1:8080 config.wsgi:application
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
